@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

@keyframes spooky-font {
  0% { font-family: 'Creepster', cursive; }
  50% { font-family: 'Zombie', cursive; }
  100% { font-family: 'Creepster', cursive; }
}

.focus-session-container {
  text-align: center;
  padding: 20px;
  color: black; 
  font-family: 'Roboto', sans-serif; 
}

.focus-session-title {
  font-size: 3rem; 
  margin-bottom: 40px; 
  animation: rainbow 5s infinite;
  font-family: 'Lobster', cursive; 
}

.focus-session-timer {
  margin-bottom: 20px;
}

.focus-session-label {
  font-weight: bold;
  font-size: 1.5rem; 
  margin-right: 10px; 
}

.focus-session-select {
  padding: 10px;
  font-size: 1rem; 
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Roboto', sans-serif; 
}

.focus-session-time {
  font-size: 2rem; 
  margin-bottom: 40px; 
  font-family: 'Roboto', sans-serif;
  animation: spooky-font 5s infinite;
}

.focus-session-button {
  padding: 10px 20px;
  font-size: 1.2rem; 
  border: none;
  border-radius: 5px;
  margin: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif; 
  animation: rainbow-border 5s infinite;
  background-color: #ddd;
}

.focus-session-button:hover {
  background-color: #ccc;
  transform: scale(1.05);
}

.start-button, .reset-button {
  border: 2px solid transparent; 
  transition: border-color 0.3s ease; 
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 200% auto;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease;
}

.start-button:hover, .reset-button:hover {
  border-color: #555;
  background-position: right center;
}

@keyframes rainbow-border {
  0% { border-color: red; }
  14% { border-color: orange; }
  28% { border-color: yellow; }
  42% { border-color: green; }
  57% { border-color: blue; }
  71% { border-color: indigo; }
  85% { border-color: violet; }
  100% { border-color: red; }
}


  