@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.focus-session-container {
  text-align: center;
  padding: 20px;
  color: black; /* Change text color to black */
  font-family: 'Roboto', sans-serif; /* Change to an interesting font */
}

.focus-session-title {
  font-size: 3rem; /* Increase font size */
  margin-bottom: 40px; /* Create gap between title and rest of the content */
  animation: rainbow 5s infinite; /* Apply the rainbow animation */
  font-family: 'Lobster', cursive; /* Set font family to Lobster */
}

.focus-session-timer {
  margin-bottom: 20px; /* Create gap between elements */
}

.focus-session-label {
  font-weight: bold; /* Bold text */
  font-size: 1.5rem; /* Increase font size */
  margin-right: 10px; /* Add gap between label and select */
}

.focus-session-select {
  padding: 10px;
  font-size: 1rem; /* Increase font size */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Roboto', sans-serif; /* Change to an interesting font */
}

.focus-session-time {
  font-size: 2rem; /* Increase font size */
  margin-bottom: 40px; /* Create gap between time and buttons */
  font-family: 'Roboto', sans-serif; /* Change to an interesting font */
}

.focus-session-button {
  padding: 10px 20px;
  font-size: 1.2rem; /* Increase font size */
  border: none;
  border-radius: 5px;
  margin: 10px; /* Create gap between buttons */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif; /* Change to an interesting font */
  animation: rainbow-border 5s infinite;
  background-color: #ddd; /* Light grey background */
}

.focus-session-button:hover {
  background-color: #ccc; /* Slightly darken on hover */
  transform: scale(1.05);
}

.start-button, .reset-button {
  border: 2px solid transparent; /* Initially set border to transparent */
  transition: border-color 0.3s ease; /* Smooth transition for border color change */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 200% auto;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease;
}

.start-button:hover, .reset-button:hover {
  border-color: #555; /* Darken border on hover */
  background-position: right center;
}

@keyframes rainbow-border {
  0% { border-color: red; }
  14% { border-color: orange; }
  28% { border-color: yellow; }
  42% { border-color: green; }
  57% { border-color: blue; }
  71% { border-color: indigo; }
  85% { border-color: violet; }
  100% { border-color: red; }
}


  