@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
  color: white;
}

.app-container {
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh; /* Ensure it covers the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align children to the top */
}

.site-title {
  font-size: 4rem;
  margin-top: 20px; /* Move the title closer to the top */
  margin-bottom: 50px; /* Adjust as needed */
  font-family: 'Lobster', cursive;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.animate-title {
  animation: fadeIn 2s ease-in-out;
}

.nav-options {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px; /* Add some space between title and buttons */
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  border: 2px solid white;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1.5rem;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}

.animate-buttons > a {
  animation: slideIn 1s ease-in-out;
}

.animate-buttons > a:nth-child(2) {
  animation-delay: 0.3s;
}

.animate-buttons > a:nth-child(3) {
  animation-delay: 0.6s;
}

/* Keyframes for animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

/* Responsive styling */
@media (max-width: 600px) {
  .nav-options {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin-bottom: 20px;
  }
}